USE [master]
GO
/****** Object:  Database [swensen]    Script Date: 20/9/2566 19:18:44 ******/
CREATE DATABASE [swensen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'swensen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\swensen.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'swensen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\swensen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [swensen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [swensen]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20/9/2566 19:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [varchar](32) NOT NULL,
	[NAME_TH] [varchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20/9/2566 19:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [varchar](32) NULL,
	[NAME] [varchar](500) NULL,
	[FILE_IMAGE] [varbinary](max) NULL,
	[RECOMMEND] [int] NULL,
	[IS_ACTIVE] [int] NULL,
	[IS_DELETE] [int] NULL,
	[PROMOTION] [int] NULL,
	[NEWS] [int] NULL,
	[CATE_ID] [varchar](32) NULL,
	[PRICE] [decimal](8, 2) NULL,
	[FILE_EXE] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/9/2566 19:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [varchar](32) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[PASSWORD] [varchar](100) NULL,
	[FIRST_NAME] [varchar](1000) NULL,
	[LAST_NAME] [varchar](1000) NULL,
	[IS_ACTIVE] [int] NULL,
	[IS_DELETE] [int] NULL,
	[TEL] [varchar](20) NULL,
	[GENDER] [varchar](10) NULL,
	[BIRTH_DATE] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CATE_ID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
